body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    background-color: rgb(181, 181, 181)
}

header {
    background-color: #005151;
    color: hsl(0, 0%, 100%);
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    border-radius: 40px;
    margin: 20px;
    margin-top: 10px;
}

h1 {
    margin-bottom: 10px;
}

.notice ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
}


.main-section {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

}

.left-section {
    flex: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 2.0);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #fff;
}

.left-section h2 {
    padding-top: 10px;
    margin-top: 0px;
    text-align: center;
}

.left-section p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.left-section ul {
    padding-left: 0px;
}

.right-section {
    flex: 3;
    padding: 20px;
    background-color: #fff;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 2.0);
    /*margin-left: 325px; Uncomment this line if you want to enable the floating container */
}

.slideout-container {
    padding-right: 10px;
    /* position: fixed; Uncomment this line if you want to enable the floating container */
}

.header-icon {
    height: 50px;
    width: 50px;
    padding: 10px;
}

#outputForm {
    background-color: #fff;
    /* White background for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
}

#outputContainer {
    margin: 20px;
    /* Add some space between the header and the form */
}

.formSection {
    border: 2px solid rgba(0, 0, 0, 0.5);
    /* Border to separate sections */
    border-radius: 5px;
    padding: 10px;
    /* Padding for better appearance */
}

.buttonSection {
    border: 0px solid #000000;
    /* Border to separate sections */
    padding: 10px;
    /* Padding for better appearance */
    margin-bottom: 20px;
    /* Space between sections */
}

label[type='text'] {
    display: block;
    margin-bottom: 8px;
}

input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #005151;
    /* UKG Blue */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    /* Center the button */
    padding: 10px;
    /* Adjust padding for larger size */
    font-size: 16px;
    /* Adjust font size for larger text */
    width: 300px;
    /* Adjust the width as needed */
}

.menuButton {
    background: #005151;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.2em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.menuButton:hover {
    background: #fff;
    color: #1AAB8A;
}

.menuButton:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.menuButton:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.menuButton:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

@media (min-width: 768px) {
    .button-65 {
        padding: 14px 22px;
        width: 176px;
    }
}

#output {
    margin-top: 20px;
}

select,
textarea {
    width: 100%;
    /* Make the dropdown fill the container */
    max-width: 100%;
    /* Set the maximum width of the dropdown to 100% */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    font-family: Arial, sans-serif;
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px);
    /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%);
    /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.required-marker {
    color: red;
    margin-left: 4px;
    /* Adjust the margin as needed */
}

#componentSectionFormContainer{
    display: none;
}

#mobileAppComponent {
    display: none;
}

#integrationComponent{
    display: none;
}

#integrationTextboxContainer{
    display: none;
}
